.box{
    background-color: #db7fff;
    width: 400px;
    height: 300px;
    border: 8px solid #0f1d18;
    color: rgb(36, 59, 52);
    border-radius: 8px;
    text-align: center;
    border-style: dashed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.box-2{
    width: 600px;
    height: 400px;
    background: linear-gradient(0.25turn, green, white, red);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 10px;
}