.box{
    background-color: #db7fff;
    width: 400px;
    height: 300px;
    border: 8px solid #0f1d18;
    color: rgb(36, 59, 52);
    border-radius: 8px;
    text-align: center;
    border-style: dashed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.box1{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}